# SPDX-FileCopyrightText: Red Hat
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-test:
    name: "test from sources"
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.6"
          - "3.9"
          - "3.12"
        include:
          - name: "Fedora Latest"
            image: "registry.fedoraproject.org/fedora:latest"
    runs-on: 'ubuntu-latest'
    container:
      image: ${{ matrix.image }}

    steps:
      - uses: actions/checkout@v6

      - name: Install python3 and pip
        run: |
          dnf --setopt install_weak_deps=False install -y python${{ matrix.python-version }} python3-pip

      - name: Install test requirements
        run: pip install -r test-requirements.txt

      - name: Run tests
        run: |
          pytest

  install-test:
    name: "test as installed"
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.6"
          - "3.9"
          - "3.12"
        include:
          - name: "Fedora Latest"
            image: "registry.fedoraproject.org/fedora:latest"
    runs-on: 'ubuntu-latest'
    container:
      image: ${{ matrix.image }}

    steps:
      - uses: actions/checkout@v6
        with:
          path: sources

      - name: Install necessary tools in Fedora container
        run: |
          dnf --setopt install_weak_deps=False install -y python${{ matrix.python-version }} python3-pip

      - name: Install from sources via pip
        run: pip install sources

      - name: Install test requirements
        run: pip install -r sources/test-requirements.txt

      - name: Run tests
        run: |
          pytest sources/tests
